@model LexiconLMS.Models.ScheduleViewModel

@{
    ViewBag.Title = "Index";
}
@if (Model.ShowName)
{
    <h2 class="scheduleTitle">@Html.DisplayFor(x => x.Name)</h2>
}

<table class="schedule">
    <tr>
        <th>@Html.DisplayNameFor(x => x.Schedule.First().Date)</th>
        <th>@Html.DisplayNameFor(x => x.Schedule.First().Day)</th>
        <th>@Html.DisplayNameFor(x => x.Schedule.First().Module)</th>
        <th>@Html.DisplayNameFor(x => x.Schedule.First().Morning)</th>
        <th>@Html.DisplayNameFor(x => x.Schedule.First().Afternoon)</th>
    </tr>
    <tbody>
        @foreach (var post in Model.Schedule)
        {
            <tr class="@( (post.HasActivity)? "" : "no-activity" )">
                <td class="leftblackborder">@Html.DisplayFor(x => post.Date)</td>
                <td>@Html.DisplayFor(x => post.Day)</td>
                <td class="leftblackborder">@Html.DisplayFor(x => post.Module)</td>
                <td>
                    @foreach (var link in post.Morning)
                    {
                        <button value="@link.Id" class="showDetailsBtn fake-link">
                            @Html.DisplayFor(x => link.Name)
                        @if (link.IsAssignment)
                        {
                            <img class="assignment-img" src="~/Images/AssignmentIcon.svg" />
                        }
                        </button>
                    }
                </td>
                <td>
                    @foreach (var link in post.Afternoon)
                    {
                        <button value="@link.Id" class="showDetailsBtn fake-link">
                            @Html.DisplayFor(x => link.Name)
                            @if (link.IsAssignment)
                            {
                                <img class="assignment-img" src="~/Images/AssignmentIcon.svg" />
                            }
                        </button>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

<!-- Modal -->
<div class="modal fade" id="detailsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" id="modalContent">

        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).on("click", ".showDetailsBtn", function () {
            var value = $(this).val();
            $.ajax({
                url: '@Url.Action("ActivityDetailsModal", "Activities", null)',
                data: { id: value },
                type: "GET",
                success: function (data) {
                    $("#modalContent").html(data);
                    $("#detailsModal").modal();
                },
                error: function (xhr, textStatus, thrownError, data) {
                    alert("Error: " + thrownError);
                }
            });
        });
    </script>
}
