@model IEnumerable<LexiconLMS.Models.AssignmentsListViewModel>

@{
    ViewBag.Title = "AssignmentsList";
}

<table class="table">
    <tr>
        @if (User.IsInRole("Teacher"))
        {
            <th>@Html.DisplayNameFor(model => model.CourseName)</th>
        }
        <th>@Html.DisplayNameFor(model => model.ModuleName)</th>
        <th>@Html.DisplayNameFor(model => model.Name)</th>
        <th>@Html.DisplayNameFor(model => model.Description)</th>
        <th>@Html.DisplayNameFor(model => model.Deadline)</th>
        @if (User.IsInRole("Teacher"))
        {
            <th></th>
        }
        <th></th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            @if (User.IsInRole("Teacher"))
            {
                <td>@Html.DisplayFor(modelItem => item.CourseName)</td>
            }
            <td>@Html.DisplayFor(modelItem => item.ModuleName)</td>
            <td>@Html.DisplayFor(modelItem => item.Name)</td>
            <td data-toggle="tooltip" title="@Html.DisplayFor(x => item.ToolTipText)">@Html.DisplayFor(modelItem => item.ShortDescription)</td>
            <td>@Html.DisplayFor(modelItem => item.Deadline)</td>
            <td>
                <button class="doc-upload-btn btn no-background" value="@item.ActivityId" data-toggle="icons" title="@((User.IsInRole("Teacher") ? "Ladda upp dokument" : "Lämna in uppgift"))">
                    <img class="icon" src="~/Images/document_upload.png" />
                </button>
                @if (@item.DocumentCount > 0)
                {
                    <a href='@Url.Action("List", "Documents", new { activityId = item.ActivityId })' data-toggle="icons" title="@item.DocumentCount dokument tillhörande @item.ModuleName">
                        <img class="documentsimg icon" src="~/Images/document_info.png" />
                    </a>
                }
                else
                {
                    <img class="icon" src="~/Images/Empty.png" />
                }
            @if (User.IsInRole("Teacher"))
            {
                    <a href='@Url.Action("Create", "CreateCourse", new {courseId = item.CourseId, activityId = item.ActivityId, activityShow = true })' data-toggle="icons" title="Redigera: @Html.DisplayFor(modelItem => item.Name)">
                        <img class="genericimg" src="~/Images/document_edit.png" /></a>
                    <button type="button" data-toggle="icons" title="Ta bort @item.Name" class="deleteActivityBtn btn no-background" name="item.ActivityId">
                        <img class="icon" src="~/Images/delete.png" />
                    </button>
                    @*@Html.ActionLink("Delete", "Delete", new { id = item.ActivityId })*@
            }
            </td>
        </tr>
    }
</table>
