@model IEnumerable<LexiconLMS.Models.AssignmentsListViewModel>

@{
    ViewBag.Title = "AssignmentsList";
}

<table class="table">
    <tr>
        @if (User.IsInRole("Teacher"))
        {
            <th>@Html.DisplayNameFor(model => model.CourseName)</th>
        }
        <th>@Html.DisplayNameFor(model => model.ModuleName)</th>
        <th>@Html.DisplayNameFor(model => model.Name)</th>
        <th>@Html.DisplayNameFor(model => model.Description)</th>
        <th>@Html.DisplayNameFor(model => model.Deadline)</th>
        @if (User.IsInRole("Teacher"))
        {
            <th></th>
        }
        <th></th>
        <th></th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            @if (User.IsInRole("Teacher"))
            {
                <td>@Html.DisplayFor(modelItem => item.CourseName)</td>
            }
            <td>@Html.DisplayFor(modelItem => item.ModuleName)</td>
            <td>@Html.DisplayFor(modelItem => item.Name)</td>
            <td data-toggle="tooltip" title="@Html.DisplayFor(x => item.ToolTipText)">@Html.DisplayFor(modelItem => item.ShortDescription)</td>
            <td>@Html.DisplayFor(modelItem => item.Deadline)</td>
            @if (User.IsInRole("Teacher"))
            {
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ActivityId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ActivityId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ActivityId })
                </td>
            }
            <td><button class="fake-link doc-upload-btn" value="@item.ActivityId">@((User.IsInRole("Teacher") ? "Ladda upp dokument" : "Lämna in uppgift"))</button></td>
            <td>
                @if (@item.DocumentCount > 0)
                {
                    <a href='@Url.Action("List", "Documents", new { activityId = item.ActivityId })' data-toggle="icons" title="@item.DocumentCount dokument tillhörande @item.ModuleName">
                        <img class="documentsimg" src="~/Images/documents.png" />
                    </a>
                }
            </td>
        </tr>
    }
</table>
