@model IEnumerable<LexiconLMS.Models.Document>

@{
    ViewBag.Title = "List";
}
<h3>@ViewBag.header</h3>
<table class="document-list">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th class="leftthinborder">
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th class="leftthinborder">
            @Html.DisplayNameFor(model => model.User)
        </th>
        <th class="leftthinborder">
            @Html.DisplayNameFor(model => model.UploadTime)
        </th>
        <th class="leftthinborder">
            @Html.DisplayNameFor(model => model.ContentLength)
        </th>
        <th></th>
        <th width="2%" class="leftthinborder"></th>
        @if (User.IsInRole("Teacher"))
        {
            <th width="2%"></th>
            <th width="2%"></th>
        }
    </tr>

    @foreach (var item in Model.OrderBy(x => x.User.LastName))
    {
        <tr>
            <td data-toggle="tooltip" data-container="body" data-placement="bottom"
                title="@Html.DisplayFor(x => item.NameToolTipText)">
                <span><img src="~/Images/@(Html.DisplayFor(modelItem => item.FileExtension)).png" /></span><a href="@Html.DisplayFor(x => item.FilePath)" target="_blank">@Html.DisplayFor(modelItem => item.Name)</a>
            </td>
            <td data-toggle="tooltip" data-container="body" data-placement="bottom" title="@Html.DisplayFor(modelItem => item.DescriptionToolTipText)">
                @Html.DisplayFor(modelItem => item.ShortDescription)
            </td>
            <td>@Html.DisplayFor(modelItem => item.User.FullName)</td>
            <td>@Html.DisplayFor(modelItem => item.UploadTime)</td>
            <td>@Html.DisplayFor(modelItem => item.abbrContentLength)</td>
            <td>
                @if (item.Activity != null)
                {
                    if (item.Activity.IsAssignment)
                    {
                        @Html.ActionLink("Ge feedback", "Create", "Feedback", new { userId = item.UserId, activityId = item.ActivityId }, null);
                    }
                }
            </td>
            <td>
                <a href='@Url.Action("DownloadFile", "Documents", new { id = item.Id })' data-toggle="icons" title="Ladda ned: @Html.DisplayFor(modelItem => item.Name)">
                    <img class="document-img" src="~/Images/documentdownload.png" />
                </a>
            </td>
            @if (User.Identity.Name == item.User.UserName || User.IsInRole("Teacher"))
            {
                <td>
                    <a href='@Url.Action("Edit", "Documents", new { id = item.Id, courseId = ViewBag.courseId, moduleId = ViewBag.moduleId, activityId = ViewBag.activityId, partial = ViewBag.partial })' data-toggle="icons" title="Redigera: @Html.DisplayFor(modelItem => item.Name)">
                        <img class="document-img" src="~/Images/documentedit.png" />
                    </a>
                </td>
            }
            @if (User.IsInRole("Teacher"))
            {
                <td>
                    <img name="@Html.DisplayFor(modelItem => item.Name)" id="@item.Id" class="document-img deleteDocument" src="~/Images/documentdelete.png" data-toggle="icons" title="Ta bort: @Html.DisplayFor(modelItem => item.Name)" />
                </td>
            }
        </tr>
    }
</table>

<div class="modal fade" id="docModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Ta bort dokument</h4>
            </div>
            <div class="modal-body">
                Är du säker på att du vill ta bort "<span id="spanDocument"></span>"?
            </div>
            <div class="modal-footer">
                <div id="testOutput"></div>
                <button type="button" class="btn btn-default" data-dismiss="modal">Avbryt</button>
                <a href="" id="deleteLink" class="btn btn-danger">Ta bort</a>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $(document).on('click', function () {
            var list = $('.selected');
            for (var i = 0; i < list.length; i++) {
                $(list[i]).removeClass('selected');
                $(list[i]).addClass('border');
            }
        });

        $(document).on('click', 'tr', function (event) {
            event.stopPropagation();
            if (!$(this).hasClass('selected') && $(this).find('th').length == 0) {
                var list = $('.selected, .border');
                for (var i = 0; i < list.length; i++) {
                    $(list[i]).removeClass('selected');
                    $(list[i]).removeClass('border');
                }
                $(this).addClass('selected');
            }
        });

        $(document).ready(function () {
            $('[data-toggle="icons"]').tooltip();
        });

        $(document).on('click', '.deleteDocument', function () {
            var name = $(this).attr('name');
            var value = $(this).attr('id');
            document.getElementById("spanDocument").innerHTML = name;
            document.getElementById("deleteLink").href = "/Documents/DeleteConfirmed/" + value;
            $('#docModal').modal();

        });
    </script>
}