@model IEnumerable<LexiconLMS.Models.Document>

@{
    ViewBag.Title = "List";
}

<table class="table document-list">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UploadTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ContentLength)
        </th>
        <th></th>
        <th></th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td data-toggle="tooltip" data-container="body" data-placement="bottom"
                title="@Html.DisplayFor(x => item.NameToolTipText)">
                <span><img src="~/Images/@(Html.DisplayFor(modelItem => item.FileExtension)).png" /></span><a href="@Html.DisplayFor(x => item.FilePath)" target="_blank">@Html.DisplayFor(modelItem => item.Name)</a>
            </td>
            <td data-toggle="tooltip" data-container="body" data-placement="bottom" title="@Html.DisplayFor(modelItem => item.DescriptionToolTipText)">
                @Html.DisplayFor(modelItem => item.ShortDescription)
            </td>
            <td>@Html.DisplayFor(modelItem => item.User.FullName)</td>
            <td>@Html.DisplayFor(modelItem => item.UploadTime)</td>
            <td>@Html.DisplayFor(modelItem => item.abbrContentLength)</td>

            <td>
                <a href='@Url.Action("Edit", "Documents", new { id = item.Id })' data-toggle="icons" title="Redigera: @Html.DisplayFor(modelItem => item.Name)">
                    <img class="document-img" src="~/Images/documentedit.png" />
                </a>
            </td>
            <td>
                <a href='@Url.Action("Delete", "Documents", new { id = item.Id })' data-toggle="icons" title="Ta bort: @Html.DisplayFor(modelItem => item.Name)">
                    <img class="document-img" src="~/Images/documentdelete.png" />
                </a>
            </td>
            <td>
                <a href='@Url.Action("DownloadFile", "Documents", new { id = item.Id })' data-toggle="icons" title="Ladda ned: @Html.DisplayFor(modelItem => item.Name)">
                    <img class="document-img" src="~/Images/documentdownload.png" />
                </a>
            </td>
        </tr>
    }

</table>

@section Scripts{
    <script>
        $(document).on('click', function () {
            var list = $('.selected');
            for (var i = 0; i < list.length; i++) {
                $(list[i]).removeClass('selected');
                $(list[i]).addClass('border');
            }
        });

        $(document).on('click', 'tr', function (event) {
            event.stopPropagation();
            if (!$(this).hasClass('selected') && $(this).find('th').length == 0) {
                var list = $('.selected, .border');
                for (var i = 0; i < list.length; i++) {
                    $(list[i]).removeClass('selected');
                    $(list[i]).removeClass('border');
                }
                $(this).addClass('selected');
            }
        });

$(document).ready(function(){
    $('[data-toggle="icons"]').tooltip();
});

    </script>
}