@model IEnumerable<LexiconLMS.Models.ListUserViewModel>

@{
    ViewBag.Title = "Index";
}
<br />
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SocialSecurityNumber)
        </th>
        @if (ViewBag.CourseId == -1)
        {
            <th>
                @Html.DisplayNameFor(model => model.CourseName)
            </th>
        }
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SocialSecurityNumber)
            </td>
            @if (ViewBag.CourseId == -1)
            {
                <td>
                    @Html.DisplayFor(modelItem => item.CourseName)
                </td>
            }
            <td>

                <button type="button" name="@item.UserName" class="btn btn-danger deleteUser">Ta bort</button>

            </td>
        </tr>
    }
</table>


<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Ta bort användare</h4>
            </div>
            <div class="modal-body">
                Är du säker på att du vill ta bort "<span id="spanUser"></span>"?
            </div>
            <div class="modal-footer">
                <div id="testOutput"></div>
                <button type="button" class="btn btn-default" data-dismiss="modal">Avbryt</button>
                <a href="" id="deleteLink" class="btn btn-danger">Ta bort</a>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script type="text/javascript">

    $(document).on('click', '.deleteUser', function () {
        var value = $(this).attr('name');
        document.getElementById("spanUser").innerHTML = value;
        document.getElementById("deleteLink").href = "/Account/Delete?CourseId=@ViewBag.CourseId&ControlRef=@ViewBag.ControlRef&ActionRef=@ViewBag.ActionRef&id=" + value;
        $('#myModal').modal();

    });

</script>          