@model IEnumerable<LexiconLMS.Models.ListUserViewModel>

@{
    ViewBag.Title = "Index";
}
@*<br />*@
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FullName)
        </th>
        @if (ViewBag.CourseId == -1)
        {
            <th>
                @Html.DisplayNameFor(model => model.CourseName)
            </th>
        }
        @if (User.IsInRole("Teacher"))
        {
            <th>
                @Html.DisplayNameFor(model => model.SocialSecurityNumber)
            </th>
            <th></th>
            <th></th>
        }
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            @if (ViewBag.CourseId == -1)
            {
                <td>
                    @Html.DisplayFor(modelItem => item.CourseName)
                </td>
            }
            @if (User.IsInRole("Teacher"))
            {
                <td>
                    @Html.DisplayFor(modelItem => item.SocialSecurityNumber)
                </td>
                <td><button type="button" class="editUserBtn btn btn-info" name="@item.UserName">Redigera</button></td>
                <td>
                    @if (User.Identity.Name != item.UserName)
                    {
                        <button type="button" name="@item.UserName" class="btn btn-danger deleteUser">Ta bort</button>
                    }
                </td>
            }
        </tr>
    }
</table>



<script src="~/Scripts/jquery-3.1.1.min.js"></script>
       