@model LexiconLMS.Models.RegisterTeacherViewModel
@{
    ViewBag.Title = "Lägg till lärare";
}

@*@model LexiconLMS.Models.RegisterViewModel
    @{
        ViewBag.Title = "Lägg till elev";
    }*@

@using (Html.BeginForm("RegisterTeacher", "Account", FormMethod.Post, new { @class = "form-horizontal", @id = "register-form", @role = "form" }))
{
    <div id="registerDiv">
        @Html.Partial("_RegisterTeacher", Model)
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="button" id="registerBtn" class="btn btn-default" value="Lägg till lärare" />
        </div>
    </div>
}

<div id="teacherList">
    @Html.Action("ListTeacher", "Account", new { ControlRef = "Account", ActionRef = "RegisterTeacher" })
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Ta bort användare</h4>
            </div>
            <div class="modal-body">
                Är du säker på att du vill ta bort "<span id="spanUser"></span>"?
            </div>
            <div class="modal-footer">
                <div id="testOutput"></div>
                <button type="button" class="btn btn-default" data-dismiss="modal">Avbryt</button>
                <a href="" id="deleteLink" class="btn btn-danger">Ta bort</a>
            </div>
        </div>
    </div>
</div>

@section Scripts {

    <script type="text/javascript">

        $(document).on('click', '.deleteUser', function () {
            var value = $(this).attr('name');
            document.getElementById("spanUser").innerHTML = value;
            document.getElementById("deleteLink").href = "/Account/Delete?CourseId=@ViewBag.CourseId&ControlRef=Account&ActionRef=RegisterTeacher&id=" + value;
            $('#myModal').modal();
        });
    </script>
    <script>
        $(document).on('click', '#registerBtn', function () {
            $.ajax({
                url: '@Url.Action("RegisterTeacher","Account",null)',
                type: 'POST',
                data: $('#register-form').serialize(),
                success: function (data) {
                    if (data) {
                        $('#registerDiv').html(data);
                        $('#teacherList').load('@Url.Action("ListTeacher", "Account", new { ControlRef = "Account", ActionRef = "RegisterTeacher" })');
                        document.getElementById('registerBtn').value = "Lägg till lärare";
                        window.location.href = "/Account/RegisterTeacher/";
                    }
                }
            });
        });

        $(document).on('click', '.editUserBtn', function () {
            var value = $(this).attr('name');
            $.ajax({
                url: '@Url.Action("RegisterTeacher","Account",null)',
                type: 'GET',
                data: { name: value },
                success: function (data) {
                    if (data) {
                        $('#registerDiv').html(data);
                        document.getElementById('registerBtn').value = "Uppdatera lärare";
                        $('html, body').animate({
                            scrollTop: $("#registerDiv").offset().top
                        }, 500);
                    }
                }
            });
        });
    </script>
}
