@model LexiconLMS.Models.RegisterViewModel
@{
    ViewBag.Title = "Lägg till elev";
}

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", @id = "register-form", @role = "form" }))
{
    <input type="hidden" id="msgEnd" value="har lagts till." />
    <div id="registerDiv">
        @Html.Partial("_RegisterStudent", Model)
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="button" id="registerBtn" class="btn btn-default" value="Lägg till elev" />
        </div>
    </div>
}

<div id="studentList">
    @Html.Action("List", "Account", new { ControlRef = "Account", ActionRef = "Register" })
</div>

@section Scripts {


    <script type="text/javascript">
        $(document).on('click', '.deleteUser', function () {
            var value = $(this).attr('name');
            document.getElementById("spanUser").innerHTML = value;
            document.getElementById("deleteLink").href = "/Account/Delete?CourseId=@ViewBag.CourseId&ControlRef=@ViewBag.ControlRef&ActionRef=@ViewBag.ActionRef&id=" + value;
            $('#myModal').modal();
        });
    </script>
    <script>
        $(document).on('click', '#registerBtn', function () {
            var msg = document.getElementById("FirstName").value + " " + document.getElementById("LastName").value + " " + document.getElementById("msgEnd").value;
            $.ajax({
                url: '@Url.Action("Register","Account",null)',
                type: 'POST',
                data: $('#register-form').serialize(),
                success: function (data) {
                    if (data) {
                        $('#registerDiv').html(data);
                        $('#studentList').load('@Url.Action("List", "Account", new { ControlRef = "Account", ActionRef = "Register" })');
                        document.getElementById('registerBtn').value = "Lägg till elev";
                        window.location.href = "/Account/Register/?msg=" + msg;
                    }
                }
            });
        });

        $(document).on('click', '.editUserBtn', function () {
            var value = $(this).attr('name');
            $.ajax({
                url: '@Url.Action("Register","Account",null)',
                type: 'GET',
                data: { name: value },
                success: function (data) {
                    if (data) {
                        $('#registerDiv').html(data);
                        document.getElementById('registerBtn').value = "Uppdatera elev";
                        document.getElementById("msgEnd").value = "har uppdaterats.";
                        $('html, body').animate({
                            scrollTop: $("#registerDiv").offset().top
                        }, 500);
                    }
                }
            });
        });
    </script>
}
