@model LexiconLMS.Models.RegisterTeacherViewModel
@{
    ViewBag.Title = "Lägg till lärare";
}

@*@model LexiconLMS.Models.RegisterViewModel
@{
    ViewBag.Title = "Lägg till elev";
}*@

@using (Html.BeginForm("RegisterTeacher", "Account", FormMethod.Post, new { @class = "form-horizontal", @id = "register-form", @role = "form" }))
{
    <div id="registerDiv">
        @Html.Partial("_RegisterTeacher", Model)
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="button" id="registerBtn" class="btn btn-default" value="Lägg till lärare" />
        </div>
    </div>
}

<div id="teacherList">
    @Html.Action("ListTeacher", "Account", new { ControlRef = "Account", ActionRef = "RegisterTeacher" })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">

        $(document).on('click', '.deleteUser', function () {
            var value = $(this).attr('name');
            document.getElementById("spanUser").innerHTML = value;
            document.getElementById("deleteLink").href = "/Account/Delete?CourseId=@ViewBag.CourseId&ControlRef=Account&ActionRef=RegisterTeacher&id=" + value;
            $('#myModal').modal();

        });

    </script>
    <script>
        $(document).on('click', '#registerBtn', function () {
            $.ajax({
                url: '@Url.Action("RegisterTeacher","Account",null)',
                type: 'POST',
                data: $('#register-form').serialize(),
                success: function (data) {
                    if (data) {
                        $('#registerDiv').html(data);
                        $('#teacherList').load('@Url.Action("ListTeacher", "Account", new { ControlRef = "Account", ActionRef = "RegisterTeacher" })');
                        document.getElementById('registerBtn').value = "Lägg till lärare";
                    }
                }
            });
        });

        $(document).on('click', '.editUserBtn', function () {
            var value = $(this).attr('name');
            $.ajax({
                url: '@Url.Action("RegisterTeacher","Account",null)',
                type: 'GET',
                data: { name: value },
                success: function (data) {
                    if (data) {
                        $('#registerDiv').html(data);
                        document.getElementById('registerBtn').value = "Uppdatera lärare";

                    }
                }
            });
        });
    </script>
}
