@model LexiconLMS.Models.Course

@{
    ViewBag.Title = "Create";
}

@*<h2>Create</h2>*@

@{ var ajaxOptions = new AjaxOptions
    {
        UpdateTargetId = "CoursesCreateDiv",
        HttpMethod = "POST"
    }; }
@using (Ajax.BeginForm("Create", "Courses", ajaxOptions))
{
    @*@Html.EditorForModel()
    <input type="submit" />*@

    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @*<h4>Course</h4>
            <hr />*@
        <br />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Description, new { @class = "form-control", @rows = 3, @style = "resize: none;" })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.StartDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.StartDate, new { htmlAttributes = new { @class = "form-control datepicker" } })
                @Html.ValidationMessageFor(model => model.StartDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EndDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EndDate, new { htmlAttributes = new { @class = "form-control datepicker" } })
                @Html.ValidationMessageFor(model => model.EndDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <br />
        <div class="form-group">
            <div class="col-md-3">
                @Html.ActionLink("Avsluta utan att spara", "Index")
            </div>
            <div class="col-md-offset-3 col-md-3">
                @Html.ActionLink("Spara och lägg till moduler", "../Modules/List/1")
            </div>
            <div class="col-md-3">
                <input type="submit" value="Spara och avsluta" class="btn btn-default courses" />
            </div>
        </div>
    </div>
    <input type="button" class="teacher" value="Click me!" />

    //Html.RenderAction("Index");

}



@*<div>
        @Html.ActionLink("Back to List", "Index")
    </div>*@




@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/datepicker")
}

<div id="partialViewDiv"></div>

<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script>
    
    var url = '@Url.Action("Index", "Courses", new { courseId = -1})'.replace("-1", 1);
    $("#CoursesListDiv").load(url);
    
    $(".courses").click(function () {
        var url = '@Url.Action("Index", "Courses", new { courseId = -1})'.replace("-1", 1);
        $("#CoursesListDiv").load(url);
    });
</script>
