@model LexiconLMS.Models.CourseDetailsViewModel

@{
    ViewBag.Title = "Details";
}

<div class="container toppadding">
    <div class="headerDiv">
        <h1>@Model.Name</h1><span>@Model.StartDate - @Model.EndDate</span>
        @if (@Model.DocumentCount > 0)
        {
            <span class="Courseheaderspan">
                <a href='@Url.Action("List", "Documents", new { courseId = Model.Id })' data-toggle="icons" title="@Model.DocumentCount dokument tillhörande @Html.DisplayFor(modelItem => Model.Name)">
                    <img class="documentsimg" src="~/Images/documents.png" />
                </a>
            </span>
        }
    </div>
    <hr />
    <h4>@Model.Description</h4>

    @foreach (var module in Model.Modules)
    {
        <div class="panel panel-default hover-link" id="accordion-@module.Id">

            <a data-parent="#accordion-@module.Id" href="#module-@module.Id" data-toggle="collapse">
                <div class="panel-heading headerDiv">
                    <h3>@module.Name</h3><span>@module.StartDate - @module.EndDate</span>
                    @if (module.DocumentCount > 0)
                    {
                        <span>
                                <img class="documentsimg moduledocuments" src="~/Images/documents.png" name="@module.Id" data-toggle="icons" title="@module.DocumentCount dokument tillhörande @module.Name"/>
                        </span>
                    }
                    @if (User.IsInRole("Teacher"))
                    {
                        <p class="fake-link edit-text" name="@module.Id">Redigera</p>
                    }
                </div>
            </a>

            <div class="panel-collapse collapse" id="module-@module.Id">
                <div class="panel-body">
                    <h5>@module.Description</h5>
                    @if (module.Description != null)
                    {
                        if (module.Description.Length > 0)
                        {
                            <hr />
                        }
                    }
                    @if (module.Activities.Count > 0)
                    {
                        <table class="table">
                            <tr>
                                <th nowrap>@Html.DisplayNameFor(x => module.Activities.First().TypeName)</th>
                                <th nowrap>@Html.DisplayNameFor(x => module.Activities.First().Name)</th>
                                <th nowrap>@Html.DisplayNameFor(x => module.Activities.First().Description)</th>
                                <th nowrap>@Html.DisplayNameFor(x => module.Activities.First().StartTime)</th>
                                <th nowrap>@Html.DisplayNameFor(x => module.Activities.First().EndTime)</th>
                                @if (User.IsInRole("Teacher"))
                                {
                                    <th nowrap>Inlämnade uppgifter</th>
                                }
                                <th nowrap></th>
                            </tr>

                            @foreach (var activity in module.Activities.OrderByDescending(x => x.EndTime))
                            {
                                <tr>
                                    <td>@Html.DisplayFor(x => activity.TypeName)</td>
                                    <td>@Html.DisplayFor(x => activity.Name)</td>
                                    <td data-toggle="tooltip" title="@Html.DisplayFor(x => activity.ToolTipText)">@Html.DisplayFor(x => activity.ShortDescription)</td>
                                    <td>@Html.DisplayFor(x => activity.StartTime)</td>
                                    <td>@Html.DisplayFor(x => activity.EndTime)</td>
                                    <td>
                                        @if (activity.IsAssignment && User.IsInRole("Teacher"))
                                        {
                                            <button name="@activity.Id" class="fake-link doc-btn">
                                                @activity.DocumentString
                                            </button>
                                        }
                                    </td>
                                    <td>
                                        @if (User.IsInRole("Teacher"))
                                        {
                                            @Html.ActionLink("Redigera", "Create", "CreateCourse", new { courseId = Model.Id, activityId = activity.Id, activityShow = true }, null)
                                        }
                                        @if (activity.DocumentCount > 0)
                                        {
                                            <span>
                                                <img class="documentsimg activitydocuments" src="~/Images/documents.png" name="@activity.Id" data-toggle="icons" title="@activity.DocumentCount dokument tillhörande @activity.Name" />
                                            </span>
                                        }
                                    </td>
                                </tr>
                            }
                        </table>
                    }
                </div>
            </div>
        </div>
    }
    <div class="panel panel-default">
        <div class="panel-heading headerDiv">
            <h3>Elever</h3>
        </div>
        <div class="panel-body">
            @Html.Action("List", "Account", new { CourseId = Model.Id, ControlRef = "Courses", ActionRef = "Details" })
        </div>
    </div>
</div>

@section scripts{
    <script>
        $(document).on('click', ".activitydocuments", function (e) {
            e.stopPropagation();
            var value = $(this).attr('name');
            var url = '@(Html.Raw(Url.Action("List", "Documents", new { activityId = -1,})))'.replace('-1', value);
            window.location.href = url;
        });
        $(document).on('click', ".moduledocuments", function (e) {
            e.stopPropagation();
            var value = $(this).attr('name');
            var url = '@(Html.Raw(Url.Action("List", "Documents", new { moduleId = -1,})))'.replace('-1', value);
            window.location.href = url;
        });
        $(document).on('click', ".edit-text", function (e) {
            e.stopPropagation();
            var value = $(this).attr('name');
            var url = '@(Html.Raw(Url.Action("Create", "CreateCourse", new { courseId = Model.Id, moduleId = -1, moduleShow = true, courseShow = false })))'.replace('-1', value);
            window.location.href = url;
        });
        $(document).on('click', ".doc-btn", function (e) {
            e.stopPropagation();
            var value = $(this).attr('name');
            var url = '@(Html.Raw(Url.Action("List", "Documents", new { activityId = -1 })))'.replace('-1', value);
            window.location.href = url;
        });
        $(document).ready(function () {
            $('[data-toggle="icons"]').tooltip();
        });
    </script>
}