@model LexiconLMS.Models.Course

@{
    ViewBag.Title = "Details";
}

<div class="container toppadding">
    <div class="headerDiv">
        <h1>@Model.Name</h1><span>@Model.StartDate.ToShortDateString() - @Model.EndDate.ToShortDateString()</span>
    </div>
    <hr />
    <h4>@Model.Description</h4>
    <div class="panel-group">
        @foreach (var module in Model.Modules)
            {

            <div class="panel panel-default">
                <div class="panel-heading headerDiv">
                    <h3>@module.Name</h3><span>@module.StartDate.ToShortDateString() - @module.EndDate.ToShortDateString()</span>
                    @if (User.IsInRole("Teacher"))
                    {
                        @Html.ActionLink("Redigera", "Create", "CreateCourse", new { courseId = Model.Id, moduleId = module.Id, moduleShow = true }, null)
                    }
                </div>
                <div class="panel-body">
                    <h5>@module.Description</h5>
                    @if (module.Description != null)
                    {
                        if (module.Description.Length > 0)
                        {
                            <hr />
                        }
                    }
                    @if (module.Activities.Count > 0)
                    {
                        <table class="table">
                            <tr>
                                <th nowrap>@Html.DisplayNameFor(x => module.Activities.First().Type)</th>
                                <th nowrap>@Html.DisplayNameFor(x => module.Activities.First().Name)</th>
                                <th nowrap>@Html.DisplayNameFor(x => module.Activities.First().Description)</th>
                                <th nowrap>@Html.DisplayNameFor(x => module.Activities.First().StartTime)</th>
                                <th nowrap>@Html.DisplayNameFor(x => module.Activities.First().EndTime)</th>
                                <th nowrap></th>
                                <th nowrap></th>
                            </tr>

                            @foreach (var activity in module.Activities)
                            {
                                <tr>
                                    <td>@Html.DisplayFor(x => activity.Type.Name)</td>
                                    <td>@Html.DisplayFor(x => activity.Name)</td>
                                    <td>
                                        @if (activity.Description != null)
                                        {
                                            if (activity.Description.Length > 25)
                                            {
                                                <p>@activity.Description.Substring(0, 25)...</p>
                                            }
                                            else
                                            {
                                                @Html.DisplayFor(x => activity.Description)
                                            }
                                        }
                                    </td>
                                    <td>@Html.DisplayFor(x => activity.StartTime)</td>
                                    <td>@Html.DisplayFor(x => activity.EndTime)</td>
                                    <td>
                                        @if (User.IsInRole("Teacher"))
                                        {
                                            @Html.ActionLink("Redigera", "Create", "CreateCourse", new { courseId = Model.Id, activityId = activity.Id, activityShow = true }, null)
                                        }
                                    </td>
                                </tr>
                            }
                        </table>
                    }
                </div>
            </div>
        }
    </div>
</div>
