@model IEnumerable<LexiconLMS.Models.Course>

@{
    ViewBag.Title = "Index";
}
<br />
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndDate)
        </th>
        <th></th>
    </tr>

    @foreach (var course in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => course.Name)
            </td>
            <td data-toggle="tooltip" title="@Html.DisplayFor(x => course.ToolTipText)">@Html.DisplayFor(x => course.ShortDescription)</td>
            <td>
                @Html.DisplayFor(modelItem => course.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => course.EndDate)
            </td>
            <td>
                @Html.ActionLink("Redigera", "Create", "CreateCourse", new { courseId = course.Id, courseShow = true }, null) |
                @Html.ActionLink("Detaljer", "Details", new { id = course.Id }) |
                @Html.ActionLink("Ta bort", "Delete", new { id = course.Id }) |
                @Html.ActionLink("Schema", "Index", "Schedule", new { id = course.Id }, null) |
                @Html.ActionLink("Veckans schema", "Index", "Schedule", new { id = course.Id, weekDay = DateTime.Now }, null)
            </td>
        </tr>
    }
</table>