@model IEnumerable<LexiconLMS.Models.Module>

@foreach (var module in Model)
{
    <h3>@Html.DisplayFor(x => module.Name)</h3>

    <table class="table">

        <tr>
            <th>@Html.DisplayNameFor(x => x.Activities.FirstOrDefault().Type.Name)</th>
            <th>@Html.DisplayNameFor(x => x.Activities.FirstOrDefault().Name)</th>
            <th>@Html.DisplayNameFor(x => x.Activities.FirstOrDefault().Description)</th>
            <th>@Html.DisplayNameFor(x => x.Activities.FirstOrDefault().StartTime)</th>
            <th>@Html.DisplayNameFor(x => x.Activities.FirstOrDefault().EndTime)</th>
            <th></th>
            <th></th>
        </tr>

        @foreach (var activity in module.Activities.OrderBy(x => x.StartTime))
        {
            <tr>
                <td>@Html.DisplayFor(x => activity.Type.Name)</td>
                <td>@Html.DisplayFor(x => activity.Name)</td>
                <td data-toggle="tooltip" title="@Html.DisplayFor(x => activity.ToolTipText)">@Html.DisplayFor(x => activity.ShortDescription)</td>
                <td>@Html.DisplayFor(x => activity.StartTime)</td>
                <td>@Html.DisplayFor(x => activity.EndTime)</td>
                <td><input type="button" value="Redigera" class="editActivityBtn fake-link" name="@activity.Id" /></td>
                <td>
                    <input type="button" value="Ta bort" class="deleteActivityBtn fake-link" name="@activity.Id" />
                    <button type="button" class="DocActivityBtn btn btn-info" name="@activity.Id">Ladda upp dokument</button>
                </td>
                
            </tr>
        }
    </table>
}